.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 80px;
}

.headline {
    font-size: 30px;
    line-height: 1.2;
    font-weight: normal;
    text-align: center;
    margin: 20px;
}

.bajada {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin: 10px;
}

.headline b {
    display: block;
}

.container {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: auto;
    flex-wrap: wrap;
    max-width: 1000px;
    gap: 30px;
    margin-bottom: 100px;
}

.name {
    font-size: 14px;
    color: rgb(65, 65, 65);
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
}

.little-container {
    display: flex;
    flex-direction: row;
}

.empanada-wrapper {
    border: red 1px solid;
    height: 150px;
    width: 200px;
    position: relative;
}

.empanada-svg {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
    width: 200px;
    height: 103px; /* Fill the container horizontally */
    z-index: 10;
}

.empanada-fill {
    position: absolute;
    left: -19px;
    bottom: -10.5px;
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
    z-index: 5;
    height: 120px;
    scale: 0.865;
}

.empanada-taste-big {
    position: absolute;
    left: 131px;
    bottom: -15px;
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
    width: 200px;
    height: 103px; /* Fill the container horizontally */
    scale: 0.865;
    z-index: 7;
}