@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 80px;
    
}

.headline {
    font-family: 'Lora';
    font-size: 50px;
    line-height: 1.2;
    font-weight: normal;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(32, 44, 79,1);

}

.subheadline {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin: 0px;
    color: rgb(32, 44, 79,1);
}

.headline b {
    display: block;
}

.container {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: auto;
    flex-wrap: wrap;
    max-width: max-content;
    gap: 50px;
    margin-bottom: 50px;
}

.name {
    font-family: 'Montserrat';
    font-size: 22px;
    color: rgb(32, 44, 79,1);
    position: relative;
    font-weight:500;
    text-align:center;
    margin-top: 15px;
}

.little-container {
    display: flex;
    flex-direction: row;
}

.empanada-wrapper {
    height: 150px;
    width: 200px;
    position: relative;
    align-items: center;
}

.card-wrapper {
    width: 250px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    align-items: center;
    margin:0 auto;
}
.empanada-svg {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
}

.empanada-fill {
    position: absolute;
    
    bottom: -3px;
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
    z-index: 5;
    height: 120px;
}

.empanada-taste-big {
    position: absolute;
    left: 180px;
    bottom: -60px;
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
    z-index: 7;
    scale: 1.1;
}

.empanada-taste-medium{
    position: absolute;
    left: 130px;
    bottom: -36px;
    z-index: 7;
}

.empanada-taste-small {
    position: absolute;
    left: 100px;
    bottom: -36px;
    z-index: 7;
    scale: 1.01;
}

.viz-code {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    position: relative;
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 17.143px; /* 71.429% */
    letter-spacing: -0.2px;
    display: inline-block;
    justify-self: center;
    padding: 20px;
    gap: 10px;  border-radius: 30px;
    background: #242C4F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-left: 500px;
    margin-bottom: 50px;
   
}

.repulgue{
    position: absolute;
    left: -16.5px;
    bottom: 1px;
    z-index: 8;
}

.chico_8{
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 8;
}

.divider {
    width: 50%;
    height: 3px;
    background-color: #242C4F;
    border-radius: 100px;
}

.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 999; /* Ensure it's above other content */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y:scroll;
  }

  .image-container {
    position: relative;
    max-width: 80%;
    max-height: 80%;
  }

  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: Black;
    cursor: pointer;
  }

  .blur-image {
    max-width: 100%;
    max-height: 100%;
  }

  #showImage:hover {
    cursor: pointer;
  }

  #showImage {
    font-size: 20px;
    font-family: 'Montserrat';
    color: rgb(32, 44, 79,1);
  }